
html
{
	scroll-behavior: smooth;
}

#databat
{
	font-family: 'Quicksand';
}

a, p
{
	text-decoration: none;
	color : #303030;
}

#img_div{
	text-align: center;
	display: none;
}

#bat
{

	width: 75px;
}
